@media (min-width: 821px) {
  .checkout__form {
    display: grid;
  }
  .form__container {
    display: grid;
  }
  .form-before-inputs{
    font-size: 40px !important;
    font-weight: 400;
    margin-top: 55px;
  }
  .form__container_input {
    margin-left: 55px;
    height: 35px;
    width: 350px;
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
    border: 1px rgb(148, 148, 148) solid;
    display: flex;
    padding-left: 5px;
    font-size: 19px;
    opacity: 70%;
  }
  .note{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 75px;
    resize: none;
    font-size: 14px;
    padding-top: 7px;

  }
  .form__container_input:hover {
    opacity: 100%;
    border: 1px solid rgb(150, 147, 147);
  }
  

  #form .form__container div {
    display: flex;
    justify-content: center;
  }

  .checkout__btn-confirm-link {
    color: white;
    text-decoration: none;
  }
  .checkout__btn-confirm {
    position: relative;
    left: 95px;
    width: 275px;
    height: 30px;
    font-size: 22px;
    background-color: #404040;
    color: white;
    border: none;
    border-radius: 5px 5px 5px 5px;
  }
  .checkout__btn-confirm:hover {
    cursor: pointer;
    font-size: 23px;
    width: 276px;
    height: 33px;
    background-color: #2e2e2e;
  }
  .btn-disabled {
    height: 32px;
    width: 275px;
    font-size: 22px;
    background-color: #4040407c;
    color: white;
    border: none;
    border-radius: 5px 5px 5px 5px;
  }
  .form-before-inputs {
    font-size: 24px;
    font-family: sans-serif;
    width: 430px;
    margin-bottom: 10px;
  }
  .form-thanks-msg {
    font-family: sans-serif;
    font-size: 29px;
    text-align: center;
    margin-top: 5vh;
  }
}
@media (max-width: 820px) {
  .checkout__input {
    width: 88vw;
    height: 32px;
    border-radius: 4px 4px 4px 4px;
    padding-left: 10px;
    border: none;
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 10px;
    border: 1px solid rgb(177, 172, 172);
  }
  .note{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 75px;
    resize: none;
    font-size: 14px;
    padding-top: 7px;
  }

  .form__container {
    display: grid;
    justify-content: center;
    margin-bottom: 5vh;
  }
  .form-before-inputs {
    font-size: 22px;
    font-family: sans-serif;
    margin-left: 10px;
  }
  .form-thanks-msg {
    font-family: sans-serif;
    font-size: 23px;
    text-align: center;
    margin-bottom: 5vh;
  }
  .checkout__btn-confirm {
    width: 150px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    background-color: rgb(48, 47, 47);
    color: rgb(248, 244, 244);
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    margin-left: 25vw;
  }
  .btn-disabled {
    width: 150px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    background-color: rgb(119, 117, 117);
    color: rgb(248, 244, 244);
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 25vw;
  }
}
