.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  right: 7vw;
  top: 5vh;
  z-index: 10;
  cursor: pointer;
  padding: 3px;
  animation: nav-animation 3s;
  transition: ease-in-out 3s;
}

@keyframes nav-animation {
  0% {
    opacity: 100%;
  }
  40% {
    opacity: 40%;
  }

  80% {
    transition-timing-function: ease-in;
    transition: 4s;
    transform: rotate(360deg);
  }
  100% {
    opacity: 100%;
  }
}
@media screen and (min-width: 851px) {
  .navBar button {
    position: fixed;
    right: 2vw;
    top: 20px;
    z-index: 10;
    cursor: pointer;
    padding: 3px;

  }
  .closeBtn {
    color: rgb(255, 1, 107);
    z-index: 1000;
  }
  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: rgb(212, 212, 212);
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    z-index: 9;
  }

  .menuNav.showMenu {
    width: 40vw;
    opacity: 100%;
    transition: ease-in-out .6s;
    
  }
  .menuNav.closeMenu{
    opacity: 100%;
    width: 40vw;  
    position: absolute;
    left: -600px;
    transition: ease-in-out .6s;

  }

  .active,
  .inactive {
    width: 250px;
    display: block;
    padding: 10px 60px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 55px;
    font-family: sans-serif;
  }

  .menuNav li:first-child {
    margin-top: 7rem;
  }

  .navBar button {
    background: transparent;
    border: none;
    color: black;
  }
  .navBar button a {
    transform: translatex(95px) translatey(-48px);
  }
  .cart-qty_in-nav {
    font-size: 16px;
    background-color: rgb(255, 1, 107);
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    left: 155px;
    bottom: 75px;

  }
}

@media (max-width: 850px) {
  .cart-qty_in-nav {
    font-size: 14px;
    background-color: rgb(255, 1, 107);
    color: white;
    width: 20px;
    height: 20px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    left: 145px;
    bottom: 70px;

  }

  .navBar button {
    position: fixed;
    right: 2vw;
    top: 20px;
    z-index: 501;
    cursor: pointer;
    padding: 3px;
  }
  .closeBtn {
    color: rgb(255, 1, 107);
  }
  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: rgb(212, 212, 212);
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    z-index: 500;
  }

  .menuNav.showMenu {
    width: 100vw;
    transition: ease-in-out .6s;
    
  }
  .menuNav.closeMenu{
    opacity: 100%;
    width: 40vw;  
    position: absolute;
    left: -600px;
    transition: ease-in-out .6s;
  }
  .active,
  .inactive {
    width: 250px;
    display: block;
    padding: 5px 60px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 55px;
    font-family: sans-serif;
  }

  .menuNav li:first-child {
    margin-top: 7rem;
  }

  .navBar button {
    background: transparent;
    border: none;
    color: black;
  }
  .navBar button a {
    transform: translatex(95px) translatey(-48px);
  }
}
