@media (min-width: 1121px) {
  .products {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    grid-gap: 15px;
    justify-self: right;
  }
  .product__description {
    width: 150px;
  }

  #products .product__card img {
    width: 238px;
    height: 292px;
    border-radius: 25px 25px 0px 00px;
  }
  .product__card {
    color: rgb(12, 12, 12);
    padding: 5px;
    font-family: sans-serif;
  }
  .product__info {
    background-color: white;
    height: 100px;
    padding: 10px;
    position: relative;
    bottom: 10px;
    border-radius: 0px 0px 25px 25px;
  }
  .product__name {
    font-family: sans-serif;
    font-size: 22px;
  }
  .product__price {
    font-size: 20px;
  }
  .cart-btn {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 18px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 8px;
    border-radius: 25px 25px 25px 25px;
    position: absolute;
    right: 15px;
    bottom: 10px;
    transition: ease-in-out .2s;
  }
  .cart-btn:hover {
    cursor: pointer;
    color: rgb(255, 0, 212);
  }
}
@media (max-width: 750px) {
  .product__info {
    background-color: white;
    height: 70px;
    padding: 5px;
    position: relative;
    bottom: 4px;
    border-radius: 0px 0px 25px 25px;
  }
  .product__card {
    color: rgb(12, 12, 12);
    padding: 2px;
    font-family: sans-serif;
  }
  .products {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    grid-gap: 7px;
  }
  #products .product__card img {
    width: 160px;
    height: 200px;
    border-radius: 25px 25px 0px 00px;
  }
  .product__info {
    width: 145px;
    padding-left: 10px;

  }
  .product__description{
    font-size: 14px;
  }
  .product__name {
    font-family: sans-serif;
    font-size: 14px;
  }
  .product__price {
    font-size: 15px;
    position: absolute;


  }

  .cart-btn:active {
    cursor: pointer;
    color: rgb(241, 236, 236);
  }
  .cart-btn {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 4px;
    border-radius: 25px 25px 25px 25px;
    position: absolute;
    right: 15px;
    bottom: 5px;
  }
}

@media (min-width: 751px) and (max-width: 1120px) {
  .products {
    margin-top: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 400px;
    grid-gap: 15px;
    justify-self: right;
  }
  .product__description {
    width: 150px;
  }

  #products .product__card img {
    width: 238px;
    height: 292px;
    border-radius: 25px 25px 0px 00px;
  }
  .product__card {
    color: rgb(12, 12, 12);
    padding: 5px;
    font-family: sans-serif;
  }
  .product__info {
    background-color: white;
    height: 100px;
    padding: 10px;
    position: relative;
    bottom: 10px;
    border-radius: 0px 0px 25px 25px;
  }
  .product__name {
    font-family: sans-serif;
    font-size: 22px;
  }
  .product__price {
    font-size: 20px;
    margin-left: 5px;
  }
  .cart-btn {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 19px;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 8px;
    border-radius: 25px 25px 25px 25px;
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
  .cart-btn:hover {
    font-size: 20px;
    cursor: pointer;
    color: white;
  }
}
