.shop_container {
  background-color: rgb(12, 12, 12);
  color: white;
  height: 100%;
  min-height: 100vh;
}

@media (min-width: 751px) {
  .shop_container {
    display: flex;
  }
  .products-container {
    display: flex;
    width: 70vw;
  }
  .textt {
    color: white;
    font-size: 50px;
  }
  .nav__cart-close {
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(216, 0, 0);
    font-size: 20px;
  }
  .nav__cart-open:hover {
    cursor: pointer;
  }

  .shop_container {
    display: flex;
    justify-content: space-between;
  }
  .products-and-categories {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 450px) {
  .products-container {
    display: grid;
    justify-content: center;
  }
  .shop_container{
    min-height: 100vh;
  }
}

@media (min-width: 451px) and (max-width: 750px) {
  .products-container {
    display: grid;
    justify-content: center;
  }
  .shop_container{
    min-height: 100vh;
  }
}
